{% extends 'base.html' %}
{% block content %}
<table class="table table-sm">
    <tr>
        <th></th>
        <th>Product name</th>
        <th>Date received</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Supplier</th>
    </tr>
    {% if products %}
        {% for product in products %}
            <tr>
                <td><a href="{% url 'mainapp:edit_product' product.pk %}">Edit</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.data_received }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.supplier }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
            <td>----</td>
        </tr>
    {% endif %}
</table>
<a class="btn btn-sm btn-success" href="{% url 'mainapp:add_product' %}">Add new Product</a>
{% endblock %}